*.project
*.prefs
*.classpath
finix-gateway/target/classes/META-INF/MANIFEST.MF
finix-gateway/target/classes/META-INF/maven/com.finix.framework/finix-gateway/pom.properties
finix-core/target/*.*
finix-gateway/target/classes/
finix-codegen/finix-codegen-swagger/target/
finix-demo/finix-demo-client/target/
finix-core/target/classes/
finix-demo/finix-demo-api/target/classes/META-INF/MANIFEST.MF
finix-demo/finix-demo-api/target/classes/META-INF/maven/com.finix.framework/finix-demo-api/pom.properties
finix-demo/finix-demo-api/target/
finix-codegen/finix-codegen-example/target/
finix-demo/finix-demo-server/target/
finix-apimanager/target/classes/
*.MF
finix-springboot/target/
finix-doc/~$网关API.pptx
